
@if (false)
{
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.17.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
}



<!-- Main hero unit for a primary marketing message or call to action dropzone="copy f:image/png f:image/gif f:image/jpeg"-->
<div id="dropbox" dropzone="copy f:image/png f:image/gif f:image/jpeg" class="hero-unit">    
    <h2 id="droplabel">Drop your image here...</h2>
    <div id="progressBarBox" class="progress progress-info progress-striped active">
      <div class="bar" style="width: 0%;"></div>
    </div>
    
    <br/>
    <img id="preview" src="" alt="[ preview will display here ]"/>    
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<script type="text/javascript">
    var fileName = null;

    $(document).ready(function () {
        var dropbox = document.getElementById("dropbox")

        // init event handlers
        dropbox.addEventListener("dragenter", dragEnter, false);
        dropbox.addEventListener("dragexit", dragExit, false);
        dropbox.addEventListener("dragleave", dragExit, false);
        dropbox.addEventListener("dragover", dragOver, false);
        dropbox.addEventListener("drop", drop, false);

        // init the widgets
        $("#progressBarBox").hide();
    });

    function dragEnter(evt) {
        evt.stopPropagation();
        evt.preventDefault();
    }

    function dragExit(evt) {
    
        document.getElementById("droplabel").innerHTML = "Drop file here...";

        evt.stopPropagation();
        evt.preventDefault();
    }

    function dragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        document.getElementById("droplabel").innerHTML = "Now drop the file...";
    }

    function drop(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var files = evt.dataTransfer.files;
        var count = files.length;

        // Only call the handler if 1 or more files was dropped.
        if (count > 0)
            handleFiles(files);
    }


    function handleFiles(files) {
        var file = files[0];
        if (file.type.match('^image/')) {
        //if (file.type.match('^application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') ||
        //    file.type.match('^application/vnd.ms-excel')) {
            $("#progressBarBox").show("slow");
            fileName = file.name;

            document.getElementById("droplabel").innerHTML = "Processing " + file.name;        

            var reader = new FileReader();

            // init the reader event handlers
            reader.onprogress = handleReaderProgress;
            reader.onloadend = handleReaderLoadEnd;

            // begin the read operation
            //reader.readAsArrayBuffer(file);
            reader.readAsDataURL(file);
        }
        else {
            document.getElementById("droplabel").innerHTML = "File type not valid";
        }
    }

    function handleReaderProgress(evt) {
        if (evt.lengthComputable) {
            var loaded = (evt.loaded / evt.total);
            var progress = loaded * 100;
            //$("#progressbar").progressbar({ value: loaded * 100 });            
            $(".bar").css("width", progress + "%");
        }
    }

    function handleReaderLoadEnd(evt) {
        //document.getElementById("droplabel").innerHTML = "Processed";
        var droplabel = $("#droplabel");
        droplabel.text("Upload of file " + fileName + " completed successfully");
        $(".bar").css("width", "100%");        
        var img = document.getElementById("preview");
        img.src = evt.target.result;
        //var temp = evt.target.result;        
    }  

</script>

    
