
@if (false)
{
    <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.17.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
}

<form id="fileUpload" action="/Home/Upload" method="POST" enctype="multipart/form-data">  

    <!-- Main hero unit for a primary marketing message or call to action dropzone="copy f:image/png f:image/gif f:image/jpeg" f:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet f:application/vnd.ms-excel-->
    <div id="dropbox" dropzone="copy f:image/png f:image/gif f:image/jpeg" class="hero-unit">    
        <h2 id="droplabel">Drop zone</h2>        
        <table id="files-list-table">
            <tbody>
                <tr>
                    <td id="td-img-preview" class="tableData">
                        <img id="preview" src="" alt="[ preview will display here ]" />
                    </td>
                    <td id="td-file-name" class="tableData"></td>
                    <td id="td-file-size" class="tableData"></td>
                    <td id="td-progress-bar" class="tableData">
                        <div id="progressBarBox" class="progress progress-info progress-striped">
                          <div class="bar"></div>
                        </div>
                    </td> 
                    <!--                   
                    <td id="td-upload-button" class="tableData">
                        <button type="submit" class="btn btn-primary btn-large">Upload</button>
                    </td>
                    -->
                </tr>
            </tbody>
        </table> 
        
        <br/>        
        <input id="fileSelect" type="file" name="fileSelect" />
        <!--<p><button type="submit" class="btn btn-primary btn-large">Upload All</button></p>-->
    </div>
</form>

<script type="text/javascript">
    var fileName = null;
    var fileToUpload = null;

    $(document).ready(function () {
        var dropbox = document.getElementById("dropbox")

        // init event handlers
        dropbox.addEventListener("dragenter", dragEnter, false);
        dropbox.addEventListener("dragexit", dragExit, false);
        dropbox.addEventListener("dragleave", dragExit, false);
        dropbox.addEventListener("dragover", dragOver, false);
        dropbox.addEventListener("drop", drop, false);

        // init the widgets
        $("#progressBarBox").hide();
        // VGTODO check if DnD, FileAPI and XmlHttpRequest.upload are supported
        $("#fileSelect").hide();

        $("#files-list-table").hide();
    });

    function dragEnter(evt) {
        evt.stopPropagation();
        evt.preventDefault();
    }

    function dragExit(evt) {
    
        //document.getElementById("droplabel").innerHTML = "Drop file here...";
        $("#dropbox").removeClass("active-dropzone");
        evt.stopPropagation();
        evt.preventDefault();
    }

    function dragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
                
        $("#dropbox").addClass("active-dropzone");
        //document.getElementById("droplabel").innerHTML = "Now drop the file...";
    }

    function drop(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        $("#dropbox").removeClass("active-dropzone");
        var files = evt.dataTransfer.files;
        var count = files.length;
        $("#files-list-table").show();
        // Only call the handler if 1 or more files was dropped.
        if (count > 0)
            handleFiles(files);
    }


    function handleFiles(files) {
        var file = files[0];
        if (file.type.match('^image/')) {
        //if (file.type.match('^application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') ||
        //   file.type.match('^application/vnd.ms-excel')) {            
            fileToUpload = file;
            fileName = file.name;       

            var reader = new FileReader();

            // init the reader event handlers
            //reader.onprogress = handleReaderProgress;
            reader.onloadend = handleReaderLoadEnd;

            // begin the read operation
            //reader.readAsArrayBuffer(file);
            reader.readAsDataURL(file);
            this.UploadFile(file);
        }
        else {
            window.alert("File type not valid. Only images are allowed.");
        }
    }

    function handleReaderProgress(evt) {
        if (evt.lengthComputable) {
            var loaded = (evt.loaded / evt.total);
            var progress = loaded * 100;
            //$("#progressbar").progressbar({ value: loaded * 100 });            
            $(".bar").css("width", progress + "%");
        }
    }

    function handleReaderLoadEnd(evt) {                        
        var img = document.getElementById("preview");
        img.src = evt.target.result;
        $("#td-file-name").text(fileToUpload.name);
        var size = fileToUpload.size / 1024;
        $("#td-file-size").text(size + "Kb");
        $("#progressBarBox").show("slow");
    }

    // Uploads a file to the server
    function UploadFile(file) {
        var xhr = new XMLHttpRequest();

        if (xhr.upload) { // if the browser supports the XMLHttpRequest2 object
            xhr.upload.addEventListener("progress", function (evt) {
                if (evt.lengthComputable) {
                    var percentageUploaded = parseInt(100 - (evt.loaded / evt.total * 100));
                    $(".bar").css("width", percentageUploaded + "%");
                }
            }, false);
            
            // File uploaded
            xhr.addEventListener("load", function () {
                $(".bar").css("width", "100%");

            }, false);
                     
            /* file received/failed
            xhr.onreadystatechange = function (e) {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        window.alert("Transfer complete");
                    }
                }
            };
            */                        
            //xhr.open("POST", $("#fileUpload").action, true);
            xhr.open("POST", "/Home/Upload", true);

            // Set appropriate headers
            // We're going to use these in the UploadFile method
            // To determine what is being uploaded.
            xhr.setRequestHeader("Content-Type", "multipart/form-data");
            xhr.setRequestHeader("X-File-Name", file.fileName);
            xhr.setRequestHeader("X-File-Size", file.fileSize);
            xhr.setRequestHeader("X-File-Type", file.type);

            // Send the file                        
            xhr.send(file);
        }

        function dummyCallback() {
            
        };
    }

</script>

    
